.process-table-container {
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .process-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .process-table th,
  .process-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .process-table th {
    background-color: #f2f2f2;
  }
  
  .process-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }
  